extends layout


block content
    .container.mt-4
        h1 History
        p.lead Search in the test history
        form.mb-3
          .row.mb-2
            label.col-sm-1.col-form-label(for='urlfilter') Url:
            .col-sm-4
              input#urlfilter.form-control(type='text' name='urlfilter' value=urlfilter)
            .col-sm-3
              .form-check.align-baseline
                input#differences.form-check-input(type='checkbox' name='differences' checked=(differences))
                label.form-check-label(for='differences')
                  | Only show Results with differences
            .col-sm-2
                button.btn.btn-primary(type='submit') Search
            .col-sm-2.float-end
                button.btn.btn-danger.float-end(type='button' data-bs-toggle='modal' data-bs-target='#deleteModal') Delete History
            
        hr
        table.table
          thead
            tr
              th(scope='col') ID
              th(scope='col') Url
              th(scope='col') Date
              th(scope='col') Differences
          tbody
            each row in rows      
                tr(data-bs-toggle="modal" data-bs-target="#testModal" data-bs-id=(row.id))
                    th(scope='row') #{row.id}
                    td #{row.url}
                    td #{row.formatedDate}
                    td #{row.differences}
        nav
            ul.pagination.justify-content-center
              li.page-item(class={'disabled': page <= 1})
                  a.page-link(href='#' tabindex='-1' aria-disabled='true') Previous
              - var n = 1;
              while n <= pages
                li.page-item(class={'active': page === n})
                    a.page-link(href='/history?urlfilter=' + urlfilter + '&differences=' + differences + '&page=' + n) #{n++}
              li.page-item(class={'disabled': page >= pages})
                  a.page-link(href='#') Next

    #testModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-xl.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    | ...

    #deleteModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Delete History
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            | Do you really want to delete the test history?
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Dismiss
            button.btn.btn-danger(type='button' onclick="location.href= '/history/delete'") DELETE
 
    script(src="/js/history.js")      



