extends layout


block content
	.container
		.table-responsive
			table.table
				thead
					tr
						th.text-nowrap(scope='col') Value
						each val, key in results
							th.text-nowrap(scope='col') #{val.stateName}
				tbody
					tr(class={'bg-danger': differences.currentUrl === true})
						th(scope='col') URL
						each val, key in results
							td #{val.results.currentUrl}
					tr(class={'bg-danger': differences.iframes === true})
						th(scope='col') iframes
						each val, key in results
							td.text-nowrap #{val.results.iframes}
					tr(class={'bg-danger': differences.httpStatusCode === true})
						th(scope='col') HTTP status code
						each val, key in results
							td.text-nowrap #{val.results.httpStatusCode}
					tr(class={'bg-danger': differences.redirects === true})
						th(scope='col') Redirect
						each val, key in results
							td.text-nowrap #{val.results.redirects.length}
					tr(class={'bg-danger': differences.websockets === true})
						th(scope='col') WebSockets
						each val, key in results
							td.text-nowrap #{val.results.websockets} 
					- var headers = ['content-length', 'x-frame-options', 'cross-origin-resource-policy', 'x-content-type-options', 'content-disposition', 'content-security-policy', 'cross-origin-opener-policy'];
					each header in headers
						tr(class={'bg-danger': differences.headers[header] === true})
							th.text-nowrap(scope='col') #{header}
							each val, key in results
								if(val.results.headers[header] === undefined)
									td.text-nowrap -
								else
									td.text-nowrap #{val.results.headers[header]}





