extends tests

block test 
    form(method="post")
        .row.mb-3 
            .col-8 
                select.form-select.form-select.mb-3(name='stateSelect' aria-label='.form-select-lg example' )
                    - var n = 0
                    each val in states
                          option(value=n++ selected=(state === (n-1)) ) #{val.name}  
            .col-4
                input(type='hidden' name='action' value='setState')        
                button.btn.btn-primary(type='submit') Set state

    if(state !== undefined )
        hr
        h4.mb-4 #{states[state].name} properties
        form(method="post")
            .row.gy-2.gx-3
                .col-md-4
                    label.form-label(for='iframes') Iframes
                    input#iframes.form-control(type='number' name='iframes' data-toggle="tooltip" title="Set number of iframes" min="0" required value=states[state].properties.iframes)
                .col-md-4
                    label.form-label(for='httpStatusCode') HTTP status code
                    input#httpStatusCode.form-control(type='number' name='httpStatusCode' data-toggle="tooltip" title="Set the HTTP status code" min="0" required value=states[state].properties.httpStatusCode)
                .col-md-4
                    label.form-label(for='httpStatusCode') WebSockets
                    input#httpStatusCode.form-control(type='number' name='websockets' data-toggle="tooltip" title="Set number of WebSockets" min="0" required value=states[state].properties.websockets)
                .col-md-4 
                    label.form-label(for='corp') CORP-Header
                    select#corp.form-select(name='corp') 
                        option(value='' selected= true) -
                        option(value='same-site'  selected= states[state].properties.corp === 'same-site') same-site
                        option(value='same-origin'  selected= states[state].properties.corp === 'same-origin') same-origin
                        option(value='cross-origin'  selected= states[state].properties.corp === 'cross-origin') cross-origin
                .col-md-4 
                    label.form-label(for='xContentType') X-Content-Type Header
                    select#xContentType.form-select(name='xContentType') 
                        option(value='' selected= true) -
                        option(value='nosniff'  selected= states[state].properties.xContentType === 'nosniff') nosniff
                .col-md-4 
                    label.form-label(for='coop') COOP-Header
                    select#coop.form-select(name='coop') 
                        option(value='' selected= true) -
                        option(value='unsafe-none' selected= states[state].properties.coop === 'unsafe-none' ) unsafe-none
                        option(value='same-origin-allow-popups' selected= states[state].properties.coop === 'same-origin-allow-popups') same-origin-allow-popups
                        option(value='same-origin' selected= states[state].properties.coop === 'same-origin') same-origin
                .col-md-6
                    label.form-label(for='csp') Content Security Policy
                    input#csp.form-control(type='text' name='csp' data-toggle="tooltip" title="Set CSP header" value=states[state].properties.csp)
                .col-md-6 
                    label.form-label(for='ids') Focusable IDs (comma separated)
                    input#ids.form-control(type='text' name='ids' data-toggle="tooltip" title="Set focusable IDs" value=states[state].properties.ids.join(", "))
                .col-md-4
                    .form-check
                        label.form-check-label(for='redirect') Redirect
                        input#redirect.form-check-input(type='checkbox' name='redirect' checked=(states[state].properties.redirect))
                        

                .col-12.mt-4
                    input(type='hidden' name='action' value='setProperties')
                    button.btn.btn-primary(type='submit') Save