.container
	.table-responsive
		table.table
			thead
				tr
					th.text-nowrap(scope='col') Value
					each result in results
						th.text-nowrap(scope='col') #{result.state_name}
			tbody
				tr(class={'bg-danger': differences.url === true})
					th(scope='col') URL
					each result in results
						td #{result.url}
				tr(class={'bg-danger': differences.iframes === true})
					th(scope='col') iframes
					each result in results
						td.text-nowrap #{result.iframes}
				tr(class={'bg-danger': differences.http_status_code === true})
					th(scope='col') HTTP status code
					each result in results
						td.text-nowrap #{result.http_status_code}
				tr(class={'bg-danger': differences.redirects === true})
					th(scope='col') Redirect
					each result in results
						td.text-nowrap #{result.redirects}
				tr(class={'bg-danger': differences.websockets === true})
					th(scope='col') WebSockets
					each result in results
						td.text-nowrap #{result.websockets}
				tr(class={'bg-danger': differences.ids === true})
					th(scope='col') ids
					each result in results
						td #{result.ids.join(', ')}
				tr(class={'bg-danger': differences.content_length === true})
					th(scope='col') content-length
					each result in results
						td.text-nowrap #{result.content_length} 
				tr(class={'bg-danger': differences.x_frame_options === true})
					th(scope='col') x-frame-options
					each result in results
						td.text-nowrap #{result.x_frame_options} 
				tr(class={'bg-danger': differences.corp === true})
					th(scope='col') cross-origin-resource-policy
					each result in results
						td.text-nowrap #{result.corp} 
				tr(class={'bg-danger': differences.x_content_type_options === true})
					th(scope='col') x-content-type-options
					each result in results
						td.text-nowrap #{result.x_content_type_options} 
				tr(class={'bg-danger': differences.content_disposition === true})
					th(scope='col') content-disposition
					each result in results
						td.text-nowrap #{result.content_disposition}
				tr(class={'bg-danger': differences.csp === true})
					th(scope='col') content-security-policy
					each result in results
						td #{result.csp}
				tr(class={'bg-danger': differences.coop === true})
					th(scope='col') cross-origin-opener-policy
					each result in results
						td.text-nowrap #{result.coop}

